{{!-- <div class="container">
<div class="profile">
<h1>Welcome {{userInSession.name}}</h1>
      <h3 id="reviewHeader" class="border-bottom">Your Customer Reviews</h3>

      <div id="review"></div>
      {{#each reviews}}
<p><b>{{writtenBy}}</b></p>
<form action="/profile/reviews/{{_id}}/edit" method="POST">
      <button type="submit">click to edit </button>
      </form>

        <p>{{text}}</p>
        <p>{{stars}} stars</p>
        <span class="border-bottom">{{dateCreated}}</span>
      {{/each}}
      </div> --}}


      <h1>hi</h1>