<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a
          href="/{{productType}}"
        >{{productType}}s</a></li>
      <li
        class="breadcrumb-item active"
        aria-current="page"
      >{{productName}}</li>
    </ol>
  </nav>
  <div class="individualProduct">

    <div id="individualProductImg">
      <h2>{{productName}}</h2>
      <img
        src="{{images}}"
        alt="{{productName}}"
        class="img-thumbnail mx-auto d-block"
      />
    </div>

    <div id="individualProductInfo">

      <h2>£{{price}}</h2>

      <ul>
        <li><b>Name:</b> {{productName}}</li>
        <li><b>Manufacturer:</b> {{manufacturer}}</li>
        <li><b>Model:</b> {{model}}</li>
        <li><b>Colour:</b> {{Colour}}</li>
        <li><br /></li>
        <li><b>Description</b></li>
        <li>{{description}}</li>
      </ul>
      <form method="POST" action="/profile/add-to-favourites/{{_id}}">
        <button class="btn btn-success" type="submit">add to favourites</button>
      </form>
      <h3 id="reviewHeader" class="border-bottom">Customer Reviews</h3>
      <div id="review">

        {{#each reviews}}
          <p><b>{{createdBy}}</b></p>
          <p>{{text}}</p>

        {{/each}}

        <span class="border-bottom"></span>

        <p><b>Craig Butler</b></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          eos quaerat rerum aspernatur doloribus corporis! Assumenda maxime
          dolore provident explicabo suscipit corporis neque. Debitis culpa,
          perferendis dolorum illum est eos.</p>

        <span class="border-bottom"></span>

        <p><b>Craig Butler</b></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          eos quaerat rerum aspernatur doloribus corporis! Assumenda maxime
          dolore provident explicabo suscipit corporis neque. Debitis culpa,
          perferendis dolorum illum est eos.</p>

        <span class="border-bottom"></span>

        <p><b>Craig Butler</b></p>
        <p>Rating: <b>4/5</b></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          eos quaerat rerum aspernatur doloribus corporis! Assumenda maxime
          dolore provident explicabo suscipit corporis neque. Debitis culpa,
          perferendis dolorum illum est eos.</p>

        <span class="border-bottom"></span>

        {{!-- {{#each reviews}}
          <p>{{name}}</p>
        <p>Rating: <b>{{rating}}/5</b></p>
          <p>{{comment}}</p>

          {{/each}} --}}
      </div>

      <h3>Leave a Review</h3>

      <form action="/products/{{_id}}/post-review" method="POST">
        <textarea
          name="comment"
          class="form-control"
          placeholder="Your Review"
        ></textarea>
        <label for="productRating" class="form-label">Product Rating 1-5</label>
        <input
          type="range"
          class="form-range"
          min="0"
          max="5"
          step="1"
          id="productRange"
          name="text"
        />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

  </div>
</div>