<div class="container">


  <div class="individualProduct">


    <div id="individualProductImg">
            <h2>{{productName}}</h2>
      <img src="{{images}}" />
    </div>



      <div id="individualProductInfo">
        
    <h2>£{{price}}</h2>
        <ul>
          <li><b>Name:</b> {{productName}}</li>
          <li><b>Manufacturer:</b> {{manufacturer}}</li>
          <li><b>Model:</b> {{model}}</li>
          <li><b>Colour:</b> {{Colour}}</li>
          <li><br/></li>
          <li><b>Description</b></li>
          <li>{{description}}</li>
        </ul>
        <a class="btn btn-primary" href="#" role="button">Add to Favourites</a>
    </div>
  </div>
</div>