<div class="container">


<div class="container">
  <div class="row">
    <div class="col">
    <h1>{{productName}}</h1>
    </div>

  </div>
  <div class="row">
    <div class="col">
    <img src="{{images}}">
    </div>
    <div class="col">

    </div>
    <div class="col">
<div id="productRight">
    <ul>
        <li>Name: {{productName}}</li>
        <li>Price: {{price}}</li>
        <li>Manufacturer: {{manufacturer}}</li>
        <li>Model: {{model}}</li>
        <li>Colour: {{Colour}}</li>
     
    </ul>

</div>
    </div>
  </div>
</div>

