<div class="containter">

<h1>{{productName}}</h1>
<div class="allProducts">
<div id="productImg">
    <img src="{{images}}">
</div>
<div id="productInfo">
    <ul>
        <li>Name: {{productName}}</li>
        <li>Price: {{price}}</li>
        <li>Manufacturer: {{manufacturer}}</li>
        <li>Model: {{model}}</li>
        <li>Colour: {{Colour}}</li>
     
    </ul>

</div>

</div>
</div>